# Node
node_modules/
.npm
npm-debug.log*

# Next.js
webapp/.next/
webapp/out/
webapp/.env
webapp/.env.local
webapp/.env.*.local

# Rust / Cargo
target/
*.wasm

# Coverage
tarpaulin-report.html
cobertura.xml
lcov.info

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo

# Misc
*.log
.env
.env.local
